@import './reset.css';
@import './variables.css';
@import './responsive.css';

/******************* header **/
header{background-color: var(--white);}
#header .nav{
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 99;
}
#header .header_inner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--subtitle-medium);
}
#header ul.menu{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .nav ul li{padding: 11px 0; width: auto; position: relative; font-weight: 500;}
#header ul.menu li a::after{
  content: '';
  position: absolute;
  border-bottom: 4px solid var(--blue-main);
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .8s;
  width: 0;
}
#header ul.menu li:hover a::after{content: ''; opacity: 1; width: 100%;}
#header ul.menu li:hover{color: var(--blue-main);}
/*********** header > side_menu */
#header ul.side_menu{
  position: absolute;
  left: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--body);
  font-weight: 500;
  position: fixed;
  top: 2.6%;
  z-index: 100;
}
#header ul.side_menu li{
  width: 130px;
  text-align: center;
  padding: 10px 0;
  background-color: transparent;
  cursor: pointer;
}
#header ul.side_menu li:hover{
  transition: .8s;
  background-color: var(--blue-main);
  color: var(--white);
}
#header ul.side_menu .bt_com{
  transition: .8s;
  width: 50%;
  position: absolute;
  display: none;
  margin-top: 16px;
  padding: 8px;
  border: 3px solid var(--blue-main);
  border-radius: 5px;
  color: var(--blue-main);
  font-weight: 500;
  background-color: var(--white);
}
#header ul.side_menu li:hover .bt_com{display: block;}
#header ul.side_menu li:first-child{
  background-color: var(--blue-main);
  color: var(--white);
}
#header ul.side_menu li:first-child .bt_com{display: block;}

/* 햄버거 버튼 기본 스타일 */
.hamburger{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px; height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.hamburger span{
  width: 100%; height: 3px;
  background-color: var(--dark-gray);
  border-radius: 2px;
  transition: transform .3s, opacity .3s;
}
/* 햄버거 활성 시 X 모양 변경 */
.hamburger.active span:nth-child(1) { transform: rotate(45deg) translate(5px, 5px); }
.hamburger.active span:nth-child(2) { opacity: 0; }
.hamburger.active span:nth-child(3) { transform: rotate(-45deg) translate(5px, -5px); }





/******************* intro **/
#intro .intro_side_menu{opacity: 0;}
#intro .inner{min-height: 820px;}
#intro .intro_wrap{
  line-height: 2; 
  display: flex; 
  align-items: center;
  justify-content: center;
}
.headline_wrap h1{
  font-size: var(--big-title); 
  color: #E8F3FF;
}
.headline_wrap h3{
  font-size: var(--subtitle); 
  font-weight: 400;
}
.headline_wrap h3 strong{color: var(--blue-main);}
.headline_wrap p{font-size: var(--body-megatitle);}
#intro .arr{
  cursor: pointer;
  position: relative;
  width: 38px;
  height: 65px;
  margin: 0 auto;
  border-radius: 6rem;
  background-size: 100% 200%;
  animation: colorSlide 5s linear infinite, 
  nudgeMous 5s ease-out infinite;
}
#intro .arr:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 61px;
  background-color: var(--white);
  border-radius: 6rem;
}
#intro .arr::after {
  content: '';
  background-color: var(--blue-main);
  width: .375rem;
  height: .375rem;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@keyframes colorSlide {
  0% {background-position: 0% 100%;}
  20% {background-position: 0% 0%;}
  21% {background-color: #2476d462;}
  29.99% {background-color: var(--blue-main); background-position: 0% 0%;}
  30% {background-color: #2476d462; background-position: 0% 100%;}
  50% {background-position: 0% 0%;}
  51% {background-color: #2476d462;}
  59% {background-color: var(--blue-main); background-position: 0% 0%;}
  60% {background-color: #2476d462; background-position: 0% 100%;}
  80% {background-position: 0% 0%;}
  81% {background-color: #2476d462;}
  90%, 100% {background-color: var(--blue-main);}
}
@keyframes nudgeMouse {
  0%, 30%, 60%, 90% {transform: translateY(0);}
  20%, 50%, 80% {transform: translateY(8px);}
}
@keyframes trackBallSlide {
  0% {opacity: 1; transform: scale(1) translateY(-20px);}
  6% {opacity: 1; transform: scale(0.9) translateY(5px);}
  14% {opacity: 0; transform: scale(0.4) translateY(40px);}
  15%, 19% {opacity: 0; transform: scale(0.4) translateY(-20px);}
  28%, 29.99% {opacity: 1; transform: scale(1) translateY(-20px);}
  30% {opacity: 1; transform: scale(1) translateY(-20px);}
  36% {opacity: 1; transform: scale(0.9) translateY(5px);}
  44% {opacity: 0; transform: scale(0.4) translateY(40px);}
  45%, 49% {opacity: 0; transform: scale(0.4) translateY(-20px);}
  58%, 59.99% {opacity: 1; transform: scale(1) translateY(-20px);}
  60% {opacity: 1; transform: scale(1) translateY(-20px);}
  66% {opacity: 1; transform: scale(0.9) translateY(5px);}
  74% {opacity: 0; transform: scale(0.4) translateY(40px);}
  75%, 79% {opacity: 0; transform: scale(0.4) translateY(-20px);}
  88%, 100% {opacity: 1; transform: scale(1) translateY(-20px);}
}
#intro .arr p{
  position: absolute;
  bottom: -25px; 
  color: var(--blue-main); 
  left: 50%; 
  transform: translateX(-45%); 
  font-size: 15px; 
  font-weight: 600; 
  letter-spacing: 1px;
}
/* intro > qiuck */
#intro .qiuck{
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  right: 2.8rem;
  bottom: 7rem;
  gap: 1.5rem;
  color: var(--dark-gray);
  z-index: 99;
}
#intro .qiuck .qiuck_item{
  width: 50px;
  border-radius: 50px; 
  background-color: var(--white); 
  box-shadow: 0 0 10px var(--dark-gray);
  cursor: pointer;
  transition: .3s;
}
#intro .qiuck .qiuck_item i{
  font-size: 24px;
  line-height: 2;
}
#intro .qiuck .qiuck_item:hover{
  transform: translateX(-5px);
  color: var(--blue-main);
}
#intro .qiuck .qiuck_item:first-child i{color: var(--blue-main);}


/******************* about **/
#about .about_wrap{position: relative;}
#about .about_box{
  display: flex;
  text-align: left;
  margin-bottom: 40px;
}
#about .about_box_sub{flex-wrap: wrap;}
#about .about_box_sub p{font-size: var(--body-title); line-height: 2;}
#about .about_box_sub .comm, #about .about_box_sub .comm_detail{margin-left: 20px;}
#about .about_box_sub h5{cursor: pointer;}
#about .about_box_sub .about_text_bt{margin: 25px 0;}
#about .about_box h5{
  color: var(--blue-main); 
  font-size: var(--subtitle);
}
#about .about_box .about_text h3.name{
  font-size: var(--subtitle-small); 
  margin-bottom: 20px;
}
#about .about_box .about_text_bt{display: flex; width: 100%;}
#about .about_box .about_text b{
  font-size: var(--subtitle-medium); 
  font-weight: 500; 
  color: var(--silver-black);
}
#about .about_box .about_text p{
  width: 100%;
  text-align: justify;
  font-size: var(--body-title);
  line-height: 2;
  color: var(--dim-black);
}
#about .contact_about{
  position: absolute;
  top: 0;
  font-size: var(--subtitle-medium);
  color: var(--blue-main);
  font-weight: 700;
  margin-top: 20px;
}
#about .contact_about i{margin-left: 10px;}
#about .contact_about:hover{
  transform: translateX(10px); 
  transition: .5s ease-in;
}
#about .about_box_sub_two{display: flex;}



/******************* skills **/
#skills .inner{width: 99vw;}
#skills .skills_wrap{
  display: flex;
  user-select: none;
  mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
  overflow: hidden;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
}
#skills .skills_inner_header{
  text-transform: uppercase;
  font-size: var(--subtitle); 
  color: var(--dim-black);
  font-weight: 500;
  width: 80%; 
  margin: auto; 
  display: flex; 
  left: 0; 
  margin-bottom: 120px;
  margin-top: 170px;
  font-weight: bold;
}
#skills .skills_wrap .skills_group{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
  animation: scroll-x var(--duration) linear infinite;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#skills .skills_wrap .skills_group img{
  transition:  0.2s;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
#skills .skills_wrap .skills_group .skills_item{
  flex: 0 0 auto;
  margin-left: 70px;
}
#skills .skills_wrap .skills_group .scroll-track{
  display: flex;
  width: max-content;
  animation: scroll-left 70s linear infinite;
}
#skills .skills_wrap .skills_group .scroll-track:hover{
  animation-play-state: paused;
}
@keyframes scroll-left{
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
#skills .skills_item h5{
  margin-bottom: 10px;
  position: absolute;
  top: -80px;
  font-size: var(--subtitle-medium);
  color: var(--blue-main);
}
#skills .skills_item p{
  margin-top: 15px;
  width: 150px;
  text-align: justify;
  font-size: var(--body);
  color: var(--dark-gray);
  line-height: 1.6;
  font-weight: 600;
  transition: .4s;
}
#skills .progress_bar{
  margin-top: 10px;
  width: 100%;
  height: 10px;
  background-color: var(--silver-gray);
  border-radius: 50px;
}
#skills .progress_bar .progress{
  height: 10px;
  background-color: var(--blue-main);
  border-radius: 50px;
  transition: width 2s ease-in-out;
}
#skills .skills_item:nth-child(1) .progress_bar .progress{
  width: 69%;
}
#skills .skills_item:nth-child(2) .progress_bar .progress{
  width: 85%;
}
#skills .skills_item:nth-child(3) .progress_bar .progress{
  width: 46%;
}
#skills .skills_item:nth-child(4) .progress_bar .progress{
  width: 40%;
}
#skills .skills_item:nth-child(5) .progress_bar .progress{
  width: 89%;
}
#skills .skills_item:nth-child(6) .progress_bar .progress{
  width: 68%;
}
#skills .skills_item:nth-child(7) .progress_bar .progress{
  width: 93%;
}
#skills .skills_item:nth-child(8) .progress_bar .progress{
  width: 40%;
}
#skills .skills_item:nth-child(9) .progress_bar .progress{
  width: 75%;
}
#skills .skills_item:nth-child(10) .progress_bar .progress{
  width: 93%;
}
#skills .skills_item:nth-child(11) .progress_bar .progress{
  width: 46%;
}
/* hover */
#skills .skills_wrap .skills_group .skills_item:hover p{
  color: var(--black);
}



/*********************** career **/
#career{position: relative;}
#career > .inner{min-height: 700px; margin-bottom: 20px;}
#career .career_contant{
  position: relative;
  max-height: 400px; 
  margin: auto;
  display: grid;
  grid-template-columns: .3fr 0.9fr;
}
/* career_tabmenu */
#career .career_tabmenu ul{
  position: relative;
  top: 10%;
  line-height: 2;
}
#career .career_tabmenu li a::after{
  content: '';
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: var(--light-gray-gray);
  position: absolute;
  top: calc(100% + 5px);
  top: 45%;
  left: -30px;
  transition: background-color 0.3s ease;
}
#career .career_tabmenu li a{
  position: relative;
  font-size: var(--title); 
  color: var(--light-gray-gray ); 
  font-weight: 600;
}
#career .career_tabmenu ul li a.active{
  color: var(--blue-main);
  font-weight: bold;
}
#career .career_tabmenu li.active a::after{
  background-color: var(--blue-main);
  animation: blink 3s infinite;
}
@keyframes blink {0%, 100% {opacity: 1;} 50% {opacity: 0;}}

/* career_cardwrap */
#career .career_cardwrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 99%;
}
#career .main_cardinner, .sub_card_inner{
  text-align: left;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
}

/* main_cardinner */
#career .main_card{
  width: 570px;
  height: 600px;
  position: relative;
  flex-shrink: 0;
  box-shadow: 8px 4px 0 6px #599ce936;
  border-radius: 10px;
  overflow-y: auto;
  background: white;
}
#career .main_cardinner{
  padding: 40px 60px;
}
#career .main_cardinner h1{
  font-size: var(--subtitle-small);
  color: var(--blue-main);
  margin-bottom: 10px;
}
#career .main_cardinner h2{font-size: var(--subtitle-medium);}
#career .main_cardinner span{
  color: var(--silver-black);
  font-weight: 600;
  font-size: var(--body-title);
}
#career .main_cardinner h4{
  color: var(--blue-main);
  font-weight: 600;
  font-size: var(--body);
  margin-bottom: 10px;
}
#career .main_cardinner p{
  font-size: var(--body-title); 
  margin-bottom: 10px;
  line-height: 1.7;
}
#career .main_cardinner h5{
  color: var(--blue-main); 
  font-size: var(--body-title);
}
#career .icon_wrap{position: absolute; bottom: 5%;}
#career .icon_wrap img{
  width: 40px; 
  height: auto; 
  margin-right: 5px;
}

/* sub_card_inner */
#career .career_tab_career01 .sub_card{
  position: relative;
  width: 450px;
  height: 600px;
  background-color: var(--blue-main);
  border-radius: 10px;
  color: var(--white);
  margin-top: 0;
  padding: 40px 50px;
  flex-shrink: 0;
}
#career .sub_cardinner h2{
  font-size: var(--subtitle-medium);
}
#career .sub_cardinner span{
  font-weight: 600;
  font-size: var(--body-title);
}
#career .sub_cardinner h4{
  font-weight: 600;
  font-size: var(--body);
  margin-bottom: 30px;
}
#career .sub_cardinner p{
  font-size: var(--body); 
  margin-bottom: 10px;
  line-height: 2;
}
#career .proj_btn{
  position: absolute;
  right: 38%;
  top: 12.5%;
  color: var(--blue-main); 
  font-size: var(--body-megatitle); 
  padding: 10px 7px; 
  font-weight: 500; 
  border-radius: 6px;
}
#career .proj_btn:hover{
  background-color: var(--blue-main); 
  color: var(--white);
}
#career .career_tab_career03 .sub_card{
  background-color: transparent;
}
#career .sub_card img{
  width: 180px;
  height: auto;
}
#career .career_tab_career03 .icon_wrap{
  top: 12%;
  right: 0;
}
#career .career_tab_career01_2{display: none;}
.swiper-slide{
  width: 100vw;
  height: 30%;
  overflow: visible;
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  
}

/******************* 📱 mob_career **/
#mob_career{display: none;}


/******************* project **/
#project{width: 100%; position: relative;}
#project > .inner{height: 100%; padding: 5vw 8vw;}

/* 탭 메뉴 */
#project .tabs{
  gap: 100px;
  margin-bottom: 20px;
}
#project .tab {
  width: 30%;
  background: none;
  border: none;
  font-size: var(--subtitle-small);
  padding: 20px 100px;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  margin: 30px 0;
}
#project .tab.active {
  font-weight: 700;
  border-color: #4a90e2;
  color: var(--blue-main);
  background-color: rgba(227, 240, 255, 0.692);
}
#project .filters {
  gap: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#project .filters label {
  font-size: var(--subtitle-small);
  gap: 20px;
}
#project .tab-content button.icon{background-color: transparent; box-shadow: none;}

/* 프로젝트 카드 */
#project .tab-content {
  display: none;
}
#project .tab-content.active {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
#project .project_wrap .project_p{
  text-align: left;
  font-size: var(--body-title);
  color: var(--silver-black);
  font-weight: 450;
  line-height: 1.7;
  margin: 20px 0;
}
#project .project_wrap .project_p_02{
  text-align: left;
  font-size: var(--body-title);
  color: var(--silver-black);
  font-weight: 450;
  line-height: 1.7;
  margin: 20px 0;
  display: none;
}
#project .project{
  width: 45%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}
#project .project img {
  width: 100%;
  height: 270px;
  border-radius: 8px;
  margin-bottom: 15px;
}
#project .project h3{
  margin: 5px 0;
  font-weight: 700;
  text-align: left;
  font-size: var(--subtitle);
}
#project .project p{
  font-size: var(--body-megatitle);
  text-align: left;
  color: var(--silver-black);
  font-weight: 450;
  line-height: 1.7;
}
#project .tags{
  text-align: left;
  font-size: var(--subtitle-medium); 
  font-weight: bold; 
  color: var(--blue-main); 
  margin-top: 15px;
  word-spacing: 15px;
}
#project .buttons{
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
#project .buttons a button{
  margin-bottom: 10px;
  width: 90%;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: rgb(239, 254, 255);
  color: #444444;
  cursor: pointer;
  font-size: var(--body-title);
  box-shadow: 0 2px 5px rgba(10, 64, 109, 0.1);
}
#project .buttons button i{
  margin-right: 10px;
  font-size: var(--body-megatitle);
}
#project .buttons input[type="checkbox"], label{cursor: pointer;}
#project .buttons button.demo{
  background-color: #2457e2;
  color: #fff;
}


/******************* work **/
#work .inner_header{color: var(--white);}
#work .inner{
  width: 100%;
  background-color: var(--black); 
  color: var(--white);
  padding: 1vw 8vw 8vw 8vw;
}
#work .work_list li{
  transform: translateZ(0);
  transition-timing-function: ease;
  transition-duration: .8s;
  transition-property: opacity, transform;
  font-size: var(--subtitle-medium);
  height: 100px;
}
#work .work_txt{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  transition: .3s ease-in;
}
#work .work_title_with_img h5{width: 40%;}
#work .work_txt .hash{
  position: absolute;
  width: 30%;
  text-align: left;
  right: 10%;
}
#work .work_txt:hover, #work .work_txt:active{
  color: var(--blue-main); font-weight: bold;
}
#work .work_txt h5{font-size: var(--subtitle-small); width: 100%;}
#work .displaynone{opacity: 0;}
#work .displayh5{color: var(--blue-main); font-weight: bold;}
/* 따라다니는 이미지 프리뷰 */
#work .cursor-preview{
  display: none;
  top: 0;
  z-index: 9999;
  border-radius: 8px;
  opacity: 0.9;
  object-fit: cover;
}
.inline-preview-img{
  position: absolute;
  top: -250px;         
  left: 310px;       
  height: 350px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 99999;
}
.work_txt:hover .inline-preview-img{
  opacity: 1;
}
/* 텍스트가 밀리지 않도록 work_title_with_img 자체 높이 고정 */
.work_title_with_img{
  display: flex;
  align-items: center;
  gap: 1vw;
  height: 100px;             
  overflow: visible;
  position: relative;    
}
.work_title_with_img h5 {
  line-height: 100px;          /* 텍스트 세로 가운데 */
  margin: 0;
}
/* hover 시 이미지 나타나기 */
.work_txt:hover .inline-preview-img{
  opacity: 1;
  z-index: 99999;
  border-radius: 10px;
}
#work .work_p{
  text-align: left;
  font-size: var(--subtitle-medium);
  color: var(--white);
  font-weight: 450;
  margin-bottom: 30px;
}



/******************* contact **/
#contact .contact_wrap{height: 650px;}
#contact .contact_headline_wrap{
  text-align: left; 
  line-height: 1.7; 
  margin-top: 120px; 
  position: relative;
}
#contact .contact_headline_wrap h2{
  font-size: var(--subtitle); 
  color: var(--blue-main); 
  font-weight: 500;
}
#contact .contact_headline_wrap strong{font-size: var(--contact-title);}
#contact .contact_headline_wrap p{
  font-size: var(--body-megatitle); 
  color: var(--light-black);
}
#contact .contact_wrap .btn_wrap{
  font-size: var(--body-title); 
  color: var(--blue-main); 
  font-weight: 600; 
  position: absolute; 
  text-align: left; 
  line-height: 2.2; 
  cursor: pointer; 
  margin-top: 20px;
}
#contact .contact_wrap .btn_wrap i{margin-left: 10px;}
#contact .contact_wrap .btn_wrap .mail:hover,
#contact .contact_wrap .btn_wrap .tel:hover{
  transform: translateX(10px); 
  transition: .5s ease-in;
}



/******************* footer **/
footer{
  background-color: var(--white);
  height: 180px;
  position: relative;
}
#footer p{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5%;
  color: var(--dark-gray);
}
#footer .footer_inner{
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 5;
}
#footer .footer_inner ul{display: flex;}
#footer .footer_inner ul li{
  width: 130px;
  text-align: center;
  padding: 10px 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
#footer .footer_inner li a::after{
  width: 7px;
  height: 7px;
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: var(--blue-main);
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
  opacity: 0;
}
#footer .footer_inner li:nth-child(2) a::after{
  width: 7px;
  height: 7px;
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: var(--blue-main);
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
  opacity: 1;
  font-weight: 600;
}
#footer .footer_inner li:hover a::after{
  content: ''; 
  opacity: 1;
}
#footer .footer_inner li:hover{font-weight: 600;}